@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
/*=============== 
Variables
===============*/
:root {
  /* Primary */
  --Primary-Bright-Blue: hsl(220, 98%, 61%);
  --Primary-Check-Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
  /* Light Theme */
  --LT-Very-Light-Gray: hsl(0, 0%, 98%);
  --LT-Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --LT-Light-Grayish-Blue: hsl(232, 24%, 75%);
  --LT-Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --LT-Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
  /* Dark Theme */
  --DT-Very-Dark-Blue: hsl(235, 21%, 11%);
  --DT-Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --DT-Light-Grayish-Blue: hsl(234, 39%, 85%);
  --DT-Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
  --DT-Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --DT-Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --DT-Very-Dark-Grayish-Blue-hover: hsl(237, 14%, 26%);
  /* Font Weights */
  --normal: 400;
  --bold: 700;
  /* General */
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --max-width: 1170px;
  --fixed-width: 450px;
}

/*=============== 
Global Styles
===============*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.125rem; /*18px;*/
  /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
  /* font-size: calc(1.125rem + (36 - 20) * ((100vw - 300px) / (1600 - 300))); */
}
*,
*:focus,
*:active,
*:hover,
*:visited,
*:focus-visible,
*:focus-within,
*:focus:not(:focus-visible),
*::before,
*::after {
  outline: 0;
  border: 0;
  box-shadow: none;
}

body {
  line-height: 1.5;
  background-color: var(--DT-Very-Dark-Blue);
  color: var(--DT-Light-Grayish-Blue);
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
  background-image: url(./assets/images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
}
.container {
  /* width: 50%;
  min-width: 340px;
  max-width: 540px; */
  width: clamp(min(95%, 340px), 50%, 540px);

  margin: auto;
  display: grid;
  grid-row-gap: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 9px;
}

.switcher {
  align-self: center;
  background: transparent;
  cursor: pointer;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.switcher img {
  color: var(--DT-Light-Grayish-Blue);
}
input,
li {
  line-height: 3;
  width: 100%;
  padding-left: 25px;
  background-color: var(--DT-Very-Dark-Desaturated-Blue);
  caret-color: white;
  letter-spacing: var(--spacing);
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
  border-bottom-color: var(--DT-Very-Dark-Grayish-Blue);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
