@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
/*=============== 
Variables
===============*/
:root {
  /* Primary */
  --Primary-Bright-Blue: hsl(220, 98%, 61%);
  --Primary-Check-Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
  /* Light Theme */
  --LT-Very-Light-Gray: hsl(0, 0%, 98%);
  --LT-Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --LT-Light-Grayish-Blue: hsl(232, 24%, 75%);
  --LT-Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --LT-Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
  /* Dark Theme */
  --DT-Very-Dark-Blue: hsl(235, 21%, 11%);
  --DT-Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --DT-Light-Grayish-Blue: hsl(234, 39%, 85%);
  --DT-Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
  --DT-Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --DT-Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --DT-Very-Dark-Grayish-Blue-hover: hsl(237, 14%, 26%);
  /* Font Weights */
  --normal: 400;
  --bold: 700;
  /* General */
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --max-width: 1170px;
  --fixed-width: 450px;
}

/*=============== 
Global Styles
===============*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.125rem; /*18px;*/
  /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
  /* font-size: calc(1.125rem + (36 - 20) * ((100vw - 300px) / (1600 - 300))); */
}
*,
img, button
*:focus,
/* *:active, */
/* *:hover, */
*:visited,
*:focus-visible,
*:focus-within,
*:focus:not(:focus-visible),
*::before,
*::after {
  outline: 0;
  border: 0;
  /* border: none; */
  box-shadow: none;
  outline: 0 solid transparent;
  -webkit-appearance: none;
  border: 1px solid transparent;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

body {
  line-height: 1.5;
  /* color: var(--DT-Light-Grayish-Blue); */
}
ul,
li {
  list-style-type: none;
  -webkit-appearance: none;
}
a {
  text-decoration: none;
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
  /* background-color: var(--DT-Very-Dark-Blue);
  background-image: url(./assets/images/bg-desktop-dark.jpg); */
  background-repeat: no-repeat;
}
.wrapper-dark {
  background-color: var(--DT-Very-Dark-Blue);
  background-image: url(./assets/images/bg-desktop-dark.jpg);
  color: var(--DT-Light-Grayish-Blue);
}
.wrapper-light {
  /* background-color: var(--DT-Light-Grayish-Blue); */
  background-color: var(--LT-Very-Light-Gray);
  background-image: url(./assets/images/bg-desktop-light.jpg);
  color: var(--DT-Very-Dark-Desaturated-Blue);
}
.container {
  /* width: 50%;
  min-width: 340px;
  max-width: 540px; */
  width: clamp(min(95%, 340px), 50%, 540px);

  margin: auto;
  display: grid;
  grid-row-gap: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 9px;
  color: var(--DT-Light-Grayish-Blue);
}

.switcher {
  -ms-flex-item-align: center;
  align-self: center;
  background: transparent;
  cursor: pointer;
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.switcher img {
  color: var(--DT-Light-Grayish-Blue);
  -webkit-appearance: none;
  border: 1px solid transparent;
}
button.switcher,
img.sw {
  -webkit-appearance: none;
  border: 1px solid transparent;
}
input,
li {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 4rem;
  padding-left: 25px;
  /*letter-spacing: -0.125rem;*/
  /* background-color: var(--DT-Very-Dark-Desaturated-Blue); */
  caret-color: rgb(98, 22, 168);
  /*letter-spacing: var(--spacing);  */
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
  border-bottom-color: var(--DT-Very-Dark-Grayish-Blue);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  cursor: pointer;
}
.input-dark {
  background-color: var(--DT-Very-Dark-Desaturated-Blue);
  color: var(--LT-Very-Light-Grayish-Blue);
}
.input-light {
  background-color: var(--LT-Very-Light-Gray);
  color: var(--DT-Very-Dark-Desaturated-);
}

input[type="text"] {
  /* color: inherit; */
  padding-left: 0;
  border: none;
  box-shadow: none;
  cursor: auto;
}
form {
  background-color: var(--DT-Very-Dark-Desaturated-Blue);
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
  border-bottom-color: var(--DT-Very-Dark-Grayish-Blue);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.circle {
  display: flex;
}
.circle::before {
  /* display: inline-block; */
  content: "";
  margin: 0 25px;
  align-self: center;
  /* background: linear-gradient(to bottom right, #473abd, #813baa); */
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid var(--DT-Very-Dark-Grayish-Blue);
  cursor: default;
}
.line-through {
  /* color: var(--DT-Dark-Grayish-Blue); */
  font-style: italic;
  position: relative;
  text-decoration: line-through;
}
.line-through-dark {
  color: var(--DT-Dark-Grayish-Blue);
}
.line-through-light {
  color: var(--LT-Dark-Grayish-Blue);
}
.line-through::after {
  background: linear-gradient(to bottom right, #473abd, #813baa);
  content: "";
  height: 0.05em;
  left: -0.3rem;
  margin-top: calc(0.05em / 2 * -1);
  position: absolute;
  right: -1rem;
  top: 50%;
}
input [type="checkbox"] {
  display: block;
}
.task {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
input[type="checkbox"] {
  cursor: pointer;
  visibility: hidden;
  width: auto;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid grey;
  border: 1px solid var(--DT-Dark-Grayish-Blue);
}

/* On mouse-over, add a gradient background color */
.task:hover input ~ .checkmark {
  background: linear-gradient(to bottom right, #473abd, #813baa);
}

/* When the checkbox is checked, add a gradien background */
.task input:checked ~ .checkmark {
  background: linear-gradient(to bottom right, #473abd, #813baa);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.task input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.task .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

button.cross {
  margin-right: 2rem;
  margin-left: auto;
  background: inherit;
  /* opacity: 0.3; */
  border: 1px solid transparent;
  -webkit-appearance: none;
}

button.cross:hover {
  opacity: 1;
  cursor: pointer;
}
/*----Custom tooltip----*/
[data-title] {
  position: relative;
  cursor: help;
}
[data-title]:hover::before {
  content: attr(data-title);
  position: absolute;
  /* bottom: -10px;
  bottom: 45px;
  left: 25px; */
  top: 0px;
  left: 0px;
  /* color: var(--DT-Light-Grayish-Blue); */
  background: linear-gradient(to bottom right, #473abd, #813baa);
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 0.8rem;
  font-family: "Josefin Sans", sans-serif;
  white-space: nowrap;
}
[data-title].cross:hover::before {
  content: attr(data-title);
  position: absolute;
  /* bottom: -10px;
  bottom: 45px;
  left: 25px; */
  top: 100%;
  left: 0px;
  color: var(--DT-Light-Grayish-Blue);
  background: linear-gradient(to bottom right, #473abd, #813baa);
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 0.8rem;
  font-family: "Josefin Sans", sans-serif;
  white-space: nowrap;
}

/*------------Filters------------------ */
ul.filter {
  display: flex;
  justify-content: space-around;
  /*background: var(--DT-Very-Dark-Desaturated-Blue);
  */
  border-bottom-color: var(--DT-Very-Dark-Grayish-Blue);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
}
ul.filter > li {
  flex: 2;
  font-size: clamp(0.6rem, 0.8rem, 1rem);
  padding-left: 0;
  justify-content: space-evenly;
  gap: 0;
  border: none;
  box-shadow: none;
  /* color: var(--DT-Dark-Grayish-Blue); */
}
ul.filter-dark > li,
ul.filter-dark > li > * {
  color: var(--DT-Dark-Grayish-Blue);
}
ul.filter-dark > li:hover {
  color: var(--DT-Light-Grayish-Blue-hover);
}
ul.filter-light > li,
ul.filter-light > li > * {
  color: var(--LT-Very-Dark-Grayish-Blue);
}
ul.filter-light > li > *:hover {
  color: var(--LT-Dark-Grayish-Blue);
}
ul.filter > li:first-of-type {
  cursor: default;
}
ul.filter > li:first-of-type:hover {
  color: var(--DT-Dark-Grayish-Blue);
}
ul.filter > li.filter-list {
  flex: 3;
}
button.filter-btn {
  background: transparent;
  border: 1px solid transparent;
  color: var(--DT-Dark-Grayish-Blue);
  font-size: clamp(0.6rem, 0.8rem, 1rem);
  cursor: pointer;
  -webkit-appearance: none;
}
/*gradient text*/
/* @supports (color: #813baa) { */
ul.filter > .filter-list > .current {
  color: red;
  /* color: #813baa; */
}
/* @supports (background-clip: text) { */
/* @supports (-webkit-background-clip: text) or (background-clip: text) { */
ul.filter > .filter-list > .current {
  /* button.current { */
  /* color: #813baa; */
  /* background-image: -webkit-linear-gradient(to bottom right, #473abd, #813baa); */
  background-image: linear-gradient(to bottom right, #473abd, #813baa);
  background-size: 100%;
  background-repeat: repeat;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /* -webkit-text-fill-color: transparent; */
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  border: 1px solid transparent;

  -webkit-text-fill-color: rgba(0, 0, 0, 1);
  -webkit-opacity: 1;
  opacity: 1;
  color: rgba(0, 0, 0, 1);
  /* background: white; */
  /**/
  /* color: #813baa; */
}

/* } */

/*---!!!*/
/* @supports (-webkit-background-clip: text) or (background-clip: text) {
  ul.filter > .filter-list > .current {
    background: -webkit-linear-gradient(to bottom right, #473abd, #813baa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;
    color: transparent;
  }
}
@supports (background: -webkit-linear-gradient) {
  ul.filter > .filter-list > .current {
    background: -webkit-linear-gradient(to bottom right, #473abd, #813baa);
    color: transparent;
  }
}
@supports (-webkit-text-fill-color: #813baa) {
  ul.filter > .filter-list > .current {
    color: #813baa;
  }
} */

button.filter-btn:hover {
  color: var(--DT-Light-Grayish-Blue-hover);
}

.footer {
  text-align: center;
  font-size: 0.8rem;
}
.footer > a {
  font-size: 0.8rem;
}
.footer-dark {
  color: var(--DT-Dark-Grayish-Blue);
}
.footer-light {
  color: var(--DT-Very-Dark-Desaturated-);
}
/*---Medium size and less 48em (768px)------ */
@media screen and (max-width: 48em) {
  ul.filter {
    flex-flow: row wrap;
  }
  ul.filter > li {
    flex: 1 50%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-color: var(--DT-Very-Dark-Grayish-Blue);
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  ul.filter li.filter-list {
    order: 3;
    justify-content: center;
    gap: 1rem;
  }
}
